/*CSS Reset*/
body, div, h1, a, p {
    margin: 0;
    padding: 0;
    font-size: 100%;
}

/*Navigation Bar coloring, format, and flex*/
.nav {
    background-color: #daa520;
    margin: 0 auto;
    height: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}


#Title h1 {
    color: #ffffff;
    margin: 0px 15px 0px 0px;
    font-family: 'Noto Sans', sans-serif;
    font-size: large;
    font-weight: lighter;
    margin-left: 60px;
}

#anchors {
    align-items: flex-end;
    margin-right: 50px;
}
#anchors a {
    color: #ffffff;
    padding: 20px;
    text-decoration: none;
    font-family: 'Noto Sans', sans-serif;
}

/*Containers below*/
.Container {
    width: 280px;
    height: 540px;
    border: 2px solid #daa520;
    border-radius: 4px;
    margin-right: 10px;
    padding: 10px;
    margin-top: 10px;
}

/*Parent Container, centering and wrapping via flex*/
#pushDiv {
    width:100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    padding-top: 40px;
}

/*Text formatting inside the containers*/
.header h1 {
    font-size: x-large;
    padding: 10px 10px;
    font-family: 'Noto Sans', sans-serif;
    font-weight: lighter;
}

.GenInfo p {
    padding: 10px 15px;
    margin: 0 10px;
    font-size: 13px;
    font-family: 'Noto Sans', sans-serif;
    font-weight: lighter;
}

.moreInfo {
    text-align: center;
    padding: 10px 0px;
}
.moreInfo input[type="button"] {
    background-color: #daa520;
    color: #ffffff;
    text-align: center;
    height: 30px;
    width: 280px;
    border: 2px solid #daa520;
    border-radius: 4px;
    font-family: 'Noto Sans', sans-serif;
}



